<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
 
</head>
<body>
   <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
    <a href="/" class="inline-block mb-10 text-blue-600">Go Back To Home</a>
    <form action="/edit" method="post">

        <input class="block px-2 py-3 w-1/4  bg-zinc-800 rounded-md outline-none  "  name="previous" type="text"  placeholder="previous name">
        <input class="block resize-none px-2 py-3 mt-2 bg-zinc-800 w-1/4 rounded-md outline-none" name="naya" id="" placeholder="new name">
        <input class="mt-2 bg-yellow-500 px-5 py-2 rounded-md" type="submit" value="update name">
    </form>
   </div>
</body>

</html>